language: python
dist: trusty
os: linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - libopenmpi-dev
      - openmpi-bin

jobs:
  include:
    - name: "Mock Test Python Bindings"
      cache: false
      before_install:
        - pyenv global $(pyenv whence 2to3)  # activate all python versions
        - PYTHONPATH=""
        - PY_CMD=python3
        - $PY_CMD -m pip install --upgrade wheel setuptools
      install:
        - pip3 install cython numpy mpi4py packaging
      script:
        - git clone https://github.com/precice/precice.git precice-core  # use --branch $TRAVIS_BRANCH to select the proper branch especially master/develop
        - export CPLUS_INCLUDE_PATH=$CPLUS_INCLUDE_PATH:$TRAVIS_BUILD_DIR/precice-core/src
        - python3 setup.py test
