include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include cython files
include cyprecice/*.pyx
include cyprecice/*.pxd
include test/test_bindings_module.py
include versioneer.py
include precice/_version.py
