name: Build Spack
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    paths:
      - '**'
      
jobs:  
  build_spack:
    name: build_spack
    runs-on: ubuntu-latest
    container: benjaminrueth/ci-spack-pyprecice-deps-1804
    defaults:
      run:
        shell: "bash --login -eo pipefail {0}"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install pip3
        run: |
          curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
          python3 get-pip.py
      - name: Install jinja2
        run: pip3 install --user jinja2        
      - name: Extract branch name  # from https://stackoverflow.com/a/58035262/5158031
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Specify Package Script
        run: |
          python3 spack/jinja-instantiate.py --branch ${{ steps.extract_branch.outputs.branch }} > /opt/spack/var/spack/repos/builtin/packages/py-pyprecice/package.py
          ls spack/var/spack/repos/builtin/packages/py-pyprecice
          cp spack/var/spack/repos/builtin/packages/py-pyprecice/*.patch /opt/spack/var/spack/repos/builtin/packages/py-pyprecice/
          ls spack/var/spack/repos/builtin/packages/py-pyprecice
      - name: Try to build py-pyprecice with spack
        run: |
          . /opt/spack/share/spack/setup-env.sh 
          spack env activate precice && spack concretize -f && spack install py-pyprecice@develop ^precice@devleop

