name: Build Spack
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: '0 4 * * 1'   # Schedule it every Sunday

jobs:
  build_spack:
    name: build_spack
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container: precice/ci-spack-pyprecice-deps-1804
    defaults:
      run:
        shell: "bash --login -eo pipefail {0}"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Move Package Script
        run: |
          cp -r spack/repo/packages/py-pyprecice/ /py-pyprecice-repo/packages/
      - name: Try to build py-pyprecice with spack and test it
        run: |
          . /opt/spack/share/spack/setup-env.sh && spack env activate ci && spack arch && spack find && spack load precice && spack dev-build pyprecice.test.py-pyprecice@develop target=x86_64 && spack load precice py-numpy py-mpi4py py-cython openssh openmpi && export PYTHONPATH=${PWD}/build/$(ls build | grep lib.):${PYTHONPATH} && mkdir runner && cd runner && BINDINGS_VERSION=$(python3 -c "import precice; print(precice.__version__)") && echo "Installed version of bindings is ${BINDINGS_VERSION}"
