name: Update build environment

on:
  workflow_dispatch:      # Trigger by hand from the UI
    inputs:
      tag:
        description: 'tag for docker image'
        required: true
        default: 'latest'
        type: string
  schedule:
    - cron: '0 0 * * 0'   # Schedule it every Sunday

jobs:
  build-spack-pyprecice-deps:
    name: Builds the baseimage for spack providing dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Docker
        uses: docker/setup-buildx-action@v1
      - name: Login to registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          file: spack/ci-spack-pyprecice-deps-2404.dockerfile
          tags: precice/ci-spack-pyprecice-deps-2404:${{ inputs.tag }}
