name: Upload Python Package

on: push
#on:
#  push:
#    tags:
#      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      uses: BSFishy/pip-action@v1
      with:
        packages: |
          setuptools
          wheel
          twine
          cython
          packaging
          numpy
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.TEST_PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD }}
      run: |
        python setup.py sdist
        twine upload --repository testpypi dist/*
