name: Run preCICE Solverdummies
on:
  push:
      
jobs:  
  run_solverdummies:
    name: Run solverdummies
    runs-on: ubuntu-latest
    container: precice/precice
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2      
      - name: Install Dependencies
        run: |
          apt-get -qq update
          apt-get -qq install software-properties-common python3-dev python3-pip git apt-utils
          rm -rf /var/lib/apt/lists/*
      - name: Install bindings
        run:  pip3 install --user .
      - name: Check whether preCICE was built with MPI
        run:
          python3 
      - name: Run solverdummies
        run: | 
          cd solverdummy/
          python3 solverdummy.py precice-config.xml SolverOne MeshOne & python3 solverdummy.py precice-config.xml SolverTwo MeshTwo        
