name: Run preCICE Solverdummies
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  run_solverdummies:
    name: Run solverdummies
    runs-on: ubuntu-latest
    container:
      image: precice/precice:2.5.1
      options: --user root
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          apt-get -qq update
          apt-get -qq install software-properties-common python3-dev python3-pip git apt-utils pkg-config
          rm -rf /var/lib/apt/lists/*
          pip3 install --upgrade --user pip
      - name: Install bindings
        run:  pip3 install --user .
      - name: Check whether preCICE was built with MPI  # reformat version information as a dict and check whether preCICE was compiled with MPI
        run: python3 -c "import precice; assert({item.split('=')[0]:item.split('=')[-1] for item in str(precice.get_version_information()).split(';')}['PRECICE_MPICommunication']=='Y')"
      - name: Run solverdummies
        run: |
          cd examples/solverdummy/
          python3 solverdummy.py precice-config.xml SolverOne & python3 solverdummy.py precice-config.xml SolverTwo
